language: node_js
cache:
  directories:
    - node_modules
install:
  - npm install
script:
  - npm run test:ci
notifications:
  email: false
  slack:
    rooms:
      secure: J1pGkVUuujdNBYin+8Vy5y3l5gkIGRUd5mJUwej9DIceBC/0WYRnuUBLlnXAaN94sbSN0+EcYdI4LAAyhU+F9paObN8ptq5cH4Jyu1qH6G9I62BesHs6PAADQx15aJwG8JWTOYC0X81hPELV7LHnF8ObAQhr6ScBMClPXJ0N7kRQAzbjwQbONyhjLhDp+HU04f2xHm2dZSdKk51yT0rpofGcA5BFUUkyC0KKH4z80EkxufRF+Bh2eFYJHONENJ4FJ/cyie1UsSeNDlJ0XeBgdxHxcJFIJBYOIcPfrhec2Aa39hQpBrNDwLpw9rD7TWVIpjp7gZBmCz6ea3fRLMVEj0HBD2ZFfRUwKrDYaW3hL0F8541XimhqBoxHdHJoNw9yuKjdkcjamQ6GnQ6ES0MXfChWkTxhb+9yHOIhMdEqPfa/5YCtLf8WVvZrtdNlzcY3vc2cTY+scVmGs0WiVaYCDB8jxgqaO1pEOPy7M4jZwhZnP+cIAhInYS4SXpvMQ23NUauHfHfyx4nAw0SAArG7Fu2aP5PHkg8riNovH4ccpV2BcuthehZTchCkpj7nlHY7Xl0XuVdCpdcG/ajQe96rLLHOiw+qgMLFh47KQ8YeGb2nbq48vEKwp2/2zMPdcr6pYQxLvTuDKzBm39GI+0RDLP9tyOjWa8y94LuLZd8MVtQ=
